.shop-category-section {
    padding: 20px;
}
.category-card {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
}
.category-card:hover .category-saree {
    transform: scale(1.05) rotate(-1deg);
}

.category-card:hover .overlay-effect {
    opacity: 1;
}
.category-saree {
    width: 100%;
    height: 450px;
    border-radius: 0px 0px 40px 40px;
}
.catergory-image {
    background: #5c0000;
    color: white;
}
.category-saree {
    width: 100%;
    height: 450px;
    border-radius: 0px 0px 40px 40px;
    height: auto;
    display: block;
    transition: transform 0.4s ease;
}
.overlay-effect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 64, 129, 0.3), rgba(0, 0, 0, 0.3));
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 1;
}
.category-name {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    z-index: 2;
    position: relative;
}