.explore-section {
    justify-content: center;
    gap: 12px;
}
.image-gallery {
    /* display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center; */
    text-align: center;
}

.image-gallery img {
    width: 220px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.image-gallery img:hover {
    transform: scale(1.05) rotate(-2deg);
    box-shadow: 14px 20px 20px 1px rgba(0, 0, 0, 0.2);
    filter: brightness(1.1) contrast(1.2);
    /* filter: grayscale(100%);
    filter: grayscale(0%); */
    /* transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 0, 150, 0.5); */
    /* transform: rotateY(180deg); */
}
.category-name {
    font-family: cursive;
    margin-top: 8px;
}